<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loan decision</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body style="text-align: center">
    <h2>Loan decision</h2>
    <form id="form">
        <label for="personal_code">Personal code:</label>
        <input type="text" id="personal_code" name="personal_code">
        <br><br>
        <label for="amount">Loan amount:</label>
        <input type="number" id="amount" name="amount">
        <br><br>
        <label for="period">Loan period in months:</label>
        <input type="number" id="period" name="period">
        <br><br>
        <input type="submit" value="Check">
    </form>
    <br><br>
    <div id="result-text">Enter loan conditions and click 'Check'</div>

    <script src="static/index.js"></script>
</body>
</html>
